<script>
  import pokedex from "./pokedex";
  import appName from "./id";
  import db from "./db";
  import user from "./authedUser";
  import personalStats from "./personalstats";
  import PieChart from "./PieChart.svelte";
  $: smashPassGraph = $user?.get(appName);
  const allSpeciesPromise = pokedex.getPokemonSpeciesList({ limit: 0 });

  let id = 1;
  $: imgUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
  $: idSmashPass = smashPassGraph?.get(id);
  $: if (idSmashPass) idSmashPass.memleak = true;

  let shuffle = false;
  $: smashed = $personalStats.smash;
  $: passed = $personalStats.pass;
  $: {
    if (shuffle) {
      allSpeciesPromise.then((allSpecies) => {
        afterSmashPass(allSpecies);
      });
    }
  }

  $: if ($user) {
    const pubkey = $user._.soul;
    SEA.work(pubkey, null, null, { name: "SHA-256" }).then((hash) => {
      db.get("#" + appName)
        .get(hash)
        .put(pubkey);
    });
  }

  function prevPkmn(allSpecies) {
    id = Math.max(1, Math.min(id - 1, allSpecies.count));
  }

  function nextPkmn(allSpecies) {
    id = Math.max(1, Math.min(id + 1, allSpecies.count + 1));
  }

  function smashPass(allSpecies, smashOrPass) {
    const alreadySet = $idSmashPass === "smash" || $idSmashPass === "pass";
    idSmashPass.put(smashOrPass);
    if (!alreadySet) {
      afterSmashPass(allSpecies);
    }
  }

  function afterSmashPass(allSpecies) {
    if (shuffle) {
      const allIds = Array(allSpecies.count)
        .fill(1)
        .map((_, i) => i + 1);
      const validIds = $smashPassGraph
        ? allIds.filter((id) => !$smashPassGraph[id])
        : allIds;
      if (validIds.length === 0) {
        id = allSpecies.count + 1;
      } else {
        const randomId = validIds[Math.floor(Math.random() * validIds.length)];
        id = randomId;
      }
    } else {
      id = id + 1;
    }
  }

  function clear(allSpecies) {
    const confirmed = confirm(
      "Clear all your choices? This will also reset your contributions to the Smash Pass graph."
    );
    if (confirmed) {
      const toPut = {};
      for (let i = 1; i <= allSpecies.count; i++) {
        toPut[i] = null;
      }
      smashPassGraph.put(toPut, () => {
        window.location.reload();
      });
    }
  }

  async function onKeyDown(e) {
    switch (e.key) {
      case "1":
        smashPass(await allSpeciesPromise, "smash");
        break;
      case "2":
        smashPass(await allSpeciesPromise, "pass");
        break;
      case "ArrowLeft":
        prevPkmn(await allSpeciesPromise);
        break;
      case "ArrowRight":
        nextPkmn(await allSpeciesPromise);
        break;
    }
  }
</script>

{#await allSpeciesPromise}
  <div class="message">Loading species...</div>
{:then allSpecies}
  {#if id > allSpecies.count}
    <div class="message">
      <h4>Done!</h4>
      <p>
        <strong>{smashed}</strong> smashed, <strong>{passed}</strong> passed.
      </p>
      <button class="back" on:click={() => prevPkmn(allSpecies)}>Back</button>
    </div>
  {:else}
    <div class="container">
      <img alt="pokemon" src={imgUrl} />

      <button class="smash" on:click={() => smashPass(allSpecies, "smash")}>
        Smash
        {#if $idSmashPass === "smash"}
          <span class="check">✓</span>
        {/if}
      </button>
      <button class="pass" on:click={() => smashPass(allSpecies, "pass")}>
        Pass
        {#if $idSmashPass === "pass"}
          <span class="check">✓</span>
        {/if}
      </button>
      <div class="navigation">
        <button on:click={() => prevPkmn(allSpecies)}>&lt;&lt;</button>
        <button on:click={() => nextPkmn(allSpecies)}>&gt;&gt;</button>
      </div>
      <div class="text">
        <p class="stats">
          Smashed: {smashed}
          <br />
          Passed: {passed}
          <br />
          Total: {smashed + passed} / {allSpecies.count}
        </p>
        <div class="options">
          <label>
            <input type="checkbox" bind:checked={shuffle} />
            <span>Shuffle</span>
          </label>
          <button class="clear" on:click={() => clear(allSpecies)}>Clear</button
          >
        </div>
      </div>
      <div class="piechart">
        <PieChart {id} />
      </div>
    </div>
  {/if}
{/await}

<div class="signature">Amaranta</div>

<svelte:window on:keydown={onKeyDown} />

<style scoped>
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    column-gap: 0.25rem;
  }

  button {
    position: relative;
    border: none;
    padding: 1rem;
    margin-top: 0.25rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .check {
    position: absolute;
    right: 1rem;
  }

  .smash {
    background-color: rgb(240, 48, 48);
  }

  .smash:hover {
    background-color: rgb(255, 64, 64);
  }

  .pass {
    background-color: rgb(16, 158, 240);
  }

  .pass:hover {
    background-color: rgb(32, 178, 255);
  }

  .back,
  .navigation button {
    background-color: rgb(94, 94, 94);
  }

  .back:hover,
  .navigation button:hover {
    background-color: rgb(128, 128, 128);
  }

  .navigation button {
    flex-grow: 1;
  }

  .text {
    display: flex;
    margin-top: 0.25rem;
  }

  .stats {
    text-align: left;
    font-size: 1.25rem;
    margin: 0;
    flex-grow: 1;
    margin-right: 2rem;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .clear {
    background-color: rgb(46, 46, 46);
  }

  .clear:hover {
    background-color: rgb(64, 64, 64);
  }

  .message {
    text-align: center;
    font-size: 3rem;
  }

  @media (min-width: 1360px) {
    .piechart {
      position: absolute;
      top: 5rem;
      left: 100%;
      width: 360px;
    }
  }

  .signature {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-family: "Sacramento", cursive;
    margin: -0.5rem 0.5rem;
    user-select: none;
  }
</style>
