<script>
  import { afterUpdate } from "svelte";
  import stats from "./stats";

  export let size = 300;
  export let id;
  let canvas;
  let ctx;

  $: allStats = $stats || {};
  $: idStats = { smash: 0, pass: 0, ...allStats[id] };
  $: total = idStats.smash + idStats.pass;
  $: smashPercent = idStats.smash / total;

  afterUpdate(() => {
    // cant use a reactive value here because it does not update in time
    if (!ctx) ctx = canvas.getContext("2d");
    const midX = size / 2;
    const midY = size / 2;
    const r = size / 2 - 8;

    function arc(from, to) {
      ctx.beginPath();
      ctx.arc(
        midX,
        midY,
        r,
        from * 2 * Math.PI - Math.PI / 2,
        to * 2 * Math.PI - Math.PI / 2
      );
      ctx.lineTo(size / 2, size / 2);
      ctx.closePath();
      ctx.fill();
    }

    // start drawing
    ctx.clearRect(0, 0, size, size);
    // smash
    ctx.fillStyle = "rgb(240, 64, 64)";
    arc(0, smashPercent);
    // pass
    ctx.fillStyle = "rgb(32, 178, 255)";
    arc(smashPercent, 1);
  });
</script>

<canvas bind:this={canvas} width={size} height={size} />
<br />
Total votes: {total}

<style>
  canvas {
    width: inherit;
    height: inherit;
  }
</style>
